:root {
    --darker-blue: #00204a;
    --dark-blue: #005792;
    --sky-blue: #00bbf0;
    --cloudy-blue: #d9faff;
    --gradient-blue: background-color: #21D4FD;
    background-image: linear-gradient(135deg, #21D4FD 0%, #B721FF 100%);
    --oswald-font: 'Oswald', sans-serif;
    --openSans-font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--gradient-blue);
    font-family: var(--openSans-font);
    font-size: min(12px);
}

main {
    padding: 0 5%;
    position: relative;
    margin-top: 7vw;
}

/* Header */

header {
    position: fixed;
    width: 100%;
    top: 0;
    color: var(--cloudy-blue);
    font-family: var(--oswald-font);
    background-color: var(--darker-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vw;
    font-size: min(max(24px, 3vw), 28px);
    z-index: 1;
    padding: 0 20px;
}

nav>a {
    color: var(--cloudy-blue);
    font-family: var(--openSans-font);
    padding: 5px;
    text-decoration: none;
    font-style: italic;
    font-size: min(max(8px, 2vw), 22px);
}

/* Header */

/* showcase */
section#showcase {
    margin: 20px 0;
}

section#showcase>h1 {
    text-align: center;
    font-size: 8vw;
    color: var(--dark-blue);
    font-family: var(--oswald-font);
}

section#showcase>div.desc>p {
    color: var(--cloudy-blue);
    font-size: min(max(12px, 2vw), 22px);
    text-align: center;
    width: 70%;
    margin: 0 auto;
    line-height: 4vw;
}

/* showcase */

/* activities */

div.mission {
    text-align: center;
}

div.mission>p:first-child {
    text-decoration: underline;
    font-size: min(max(18px, 3vw), 25px);
    padding: 10px;
    font-weight: bold;
    color: var(--darker-blue);
    font-family: var(--oswald-font);
}

div.mission>p:nth-child(2) {
    margin-bottom: 20px;
    font-size: min(max(12px, 2.5vw), 22px);
    color: var(--cloudy-blue);
}

/* activities */

/* values */

div.value-container>div.second-container>p.value {
    text-align: center;
    font-size: min(max(18px, 3vw), 25px);
    color: var(--darker-blue);
    font-family: var(--oswald-font);
}

div.value-container>div.second-container>p {
    text-align: center;
    margin-bottom: 15px;
    color: var(--cloudy-blue);
    font-size: min(max(12px, 2.5vw), 22px);
}

div.value-container>div.image-container {
    width: 15%;
    height: 15%;
    margin: 0 auto;
}

div.value-container>div.image-container>img {
    width: 100%;
    height: 100%;
}

/* values */

/* Contact */

section#contact>p {
    font-size: min(max(12px, 2vw), 22px);
    text-align: center;
    color: var(--cloudy-blue);
}

section#contact>form {
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section#contact>form>div.inputs>div.input {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 20vw;
}

section#contact>form>div.inputs>div.input>label {
    text-align: center;
    color: var(--darker-blue);
}

section#contact>form>textarea {
    width: 50vw;
    height: 15vh;
    margin: 0 auto;
    resize: none;
}

section#contact>form>div.btn-container {
    text-align: center;
}

section#contact>form>div>button {
    width: 20vw;
    background-color: var(--sky-blue);
    border-radius: 7px;
    border: none;
    color: var(--cloudy-blue);
    width: 25vw;
    height: 5vh;
}

/* Contact */


/* global styles */

h3 {
    font-size: min(max(22px, 4vw), 28px);
    margin: 15px 0;
    text-align: center;
    color: var(--darker-blue);
    font-family: var(--oswald-font);
    border-bottom: 2px solid var(--darker-blue);
}

section {
    margin: 5% 0;
}

/* global styles */